<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card-based layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4">HEADER</h1>
    <p class="lead">This is a simple hero unit, a aperiam distinctio, ducimus fugit illum magni mollitia numquam odio
        perferendis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam distinctio, ducimus fugit illum magni
        mollitia numquam odio perferendis placeat quidem quod sed soluta totam voluptatem? Eaque impedit pariatur
        quibusdam?</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <!--            bild från https://pravatar.cc/-->
            <img src="https://i.pravatar.cc/500" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sepo Phan</h5>
                <h6 class="card-subtitle ">superduck</h6>
                <a href="mailto:first.last@example.com">first.last@example.com</a>
                <address>
                    <strong>Company</strong><br>
                    1355 Market St, Suite 900<br>
                    San Francisco, CA 94103<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>
        </div>
    </div>
</div>
</body>
</html>